<h1>Help</h1>

<h2>The result is wrong!</h2>
<p>Sorry about that, but the estimate is based only about 10,000 names all over the world. Not so bad?</p>

<h2>How do you estimate?</h2>
<p>First, split the name by using n-gram(n=3) to extract the "attributes" of the name. Then train the Baysian classifier using n-grams as input and sex and country as outcome. Finally, apply the n-gram'ed input data to the classifier to estimate the result.</p>
