<h1>Help</h1>

<h2>The result is wrong!</h2>
<p>The estimate is based only about 10,000 names all over the world. Isn't not that bad?</p>

<h2>How do you estimate?</h2>
<p>The characteristics of the name is extracted by using n-gram(n=3), then apply Baysian analysis.</p>